.card__like {
    background: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    width: 21px;
    height: 19px;
    background-size: 100%;
}

.card__like:hover {
    opacity: 0.6;
    transition: 0.5s linear;
}